@{
    ViewData["Title"] = "UserPanel";
}

<h1>UserPanel</h1>

<table>
    <tr>
        <td>Type</td>
        <td>Value</td>
    </tr>
    <tbody>
        @foreach (var item in User.Claims)
        {
            <tr>
                <td>@item.Type</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>

